<footer class="footer txt-justify footer-color">
    <div class="container">
        <div class="row">
            <!-- Footer Location-->
            <div class="col-lg-3 mb-5 mb-lg-0">
                <h4 class="mb-4 dev-size">Dev Restaurant</h4>
                <div class="display-grid">
                    <a class="footer-text mb-4 footer-style">
                        Lorem ipsum dolor sit amet, consectetur sadipiscing elitr, sed diam nonumy eirmod
                        tempor invidunt ut labore et dolore magna aliquyam erat, sed.
                    </a>
                </div>
                <div>
                    <a class="btn  btn-social-fb mx-1" href="#">
                        <i class="fab fa-fw fa-facebook-f"></i></a>
                    <a class="btn  btn-social-tw mx-1" href="#">
                        <i class="fab fa-fw fa-twitter"></i></a>
                    <a class="btn btn-social-in mx-1" href="#">
                        <i class="fab fa-fw fa-instagram"></i></a>
                    <a class="btn  btn-social-li mx-1" href="#">
                        <i class="fab fa-fw fa-linkedin-in"></i></a>
                </div>
            </div>
            <!-- Footer Our Companies-->
            <div class="col-lg-3 mb-3 mb-lg-0">
                <h4 class="mb-4 " routerLink=''>Open Hours </h4>
                <div class="max-continer">
                    <p class="footer-text footer-style"><i class="far fa-clock"></i> Mondays 一一一一一一一一一一  <span class="fl"> Closed</span></p>
                    <p class="footer-text footer-style"><i class="far fa-clock"></i> Tue-Fri 一一一一一一一一<span class="fl">10am - 12am</span></p>
                    <p class="footer-text footer-style"><i class="far fa-clock"></i> Sat-Sun 一一一一一一一一一<span class="fl">7am - 1am</span></p>
                    <p class="footer-text footer-style"><i class="far fa-clock"></i> Public Holidays 一一一一一一 <span class="fl"> 7am - 1am</span></p>
                </div>
            </div>
            <!-- Footer Contact Text-->
            <div class="col-lg-3">
                <h4 class="mb-4"> CONTACT US</h4>
                <div class="display-grid">

                    <a href="tel:+1(123) xxx-xxxx" class="footer-text footer-style mb-3">
                        <i class="fas fa-phone-alt"></i> +1 (123) xxx-xxxx
                    </a>
                    <a class="footer-text footer-style mb-3" href="mailto:contact@business.com">
                        <i class="fas fa-envelope"></i>
                        121/32 Second Street, New York, King Streeet, New York
                    </a>
                </div>
                <a class="footer-text footer-style" href="mailto:0devdesign.studio@gmail.com">
                    <i class="fas fa-map-marker-alt"></i>
                    0devdesign.studio@gmail.com
                </a>
            </div>
            <div class="col-lg-3">
                <h4 class="mb-4"><i class="fas fa-user-tie footer-icon mr-1"></i> Instagram </h4>
                <p class="pre-wrap  mb-0 footer-text"> Abrar One is a group of companies operating on the
                    local and international market through different activities.
                </p>
            </div>
        </div>
        <div class="container copyright mt-5  py-4 text-center text-white"><small class=" pre-wrap">© 2019 All Rigths
                Reseved. Designed By Devdesgin Studio</small></div>
    </div>
</footer>
<!-- Copyright Section-->
<section class="  ">

</section>