<div class=" flex-container">
    <div class="element-style element-style-expertise flex-item">
       <img src="../../assets/About-us-icons/Groupe 405.png" alt="">
       <p class="mt-4">International trade operations
    </p>

    </div>
    <div class="element-style element-style-expertise flex-item ">
     <img src="../../assets/About-us-icons/Group 404.png" alt="">
     <p class="mt-4">International trade operations
    </p>
    </div>
    <div class="element-style element-style-expertise flex-item ">
      <img src="../../assets/About-us-icons/outline.png" alt="">
        <p class="mt-4">International trade operations
        </p>
    </div>
   
</div>