<section class=" bg-grey" id="aboutUs">
    <div class="container">
        <div class=" flex-container">
            <div class="element-style element-style-expertise flex-item">

                <img src="../../assets/About-us-icons/outline.png" alt="">
                <h5 class="mt-4">Quality foods</h5>
                <p class="mt-4">Sit amet, consectetur adipiscing elit quisque
                    eget maximus velit, non eleifend libero curabitur dapibus
                    mauris sed leo cursus aliquetcras suscipit.
                </p>
            </div>
            <div class="element-style element-style-expertise flex-item ">
                <img src="../../assets/About-us-icons/Groupe 405.png" alt="">
                <h5 class="mt-4"> Fastest delivery</h5>
                <p class="mt-4">Sit amet, consectetur adipiscing elit quisque
                    eget maximus velit, non eleifend libero curabitur dapibus
                    mauris sed leo cursus aliquetcras suscipit.
                </p>
            </div>
            <div class="element-style element-style-expertise flex-item ">

                <img src="../../assets/About-us-icons/Group 404.png" alt="">
                <h5 class="mt-4">Original Recips</h5>
                <p class="mt-4">Sit amet, consectetur adipiscing elit quisque
                    eget maximus velit, non eleifend libero curabitur dapibus
                    mauris sed leo cursus aliquetcras suscipit.
                </p>
            </div>
        </div>

        <div class=" container">
            <div class="row">
                <div class="col-lg-6 " data-aos="fade-right"
                data-aos-offset="300"
                data-aos-easing="ease-in-sine">
                    <div class="size-img"  >
                        <img src="../../assets/Chef-about-us.png" alt="">
                    </div>
                </div>
                <div class="col-lg-6 " data-aos="fade-left"
                data-aos-offset="300"
                data-aos-easing="ease-in-sine">
                    <div class="about-us " >
                        <h1> Discover</h1>
                        <h2> Our story</h2>
                        <div class=" mt-4">
                            <p>ULTIMATE DINING EXPERIENCE LIKE NO OTHER</p>

                            <p>One of the notable character traits of a successful small restaurant owner
                                is the ability to easily solve problems. Problem-solving is a skill and most
                                of the time comes with being open-minded</p>

                            <p>Successful entrepreneurs are open-minded people and as such good optimists,
                                critical thinkers and problem solvers. As a small restaurant owner,
                                you need to be able to proffer quick solutions to any problem that may
                                arise in the course of your business day.</p>

                             <P class="mt-5">OUR FOUNDER JOHN PHILLIPE</P>
                             <h1>Devil Roy Barman</h1>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>
</section>