<section>
<nav class="navbar navbar-expand-lg   nav-bg-secondary fixed-top">
    <div class="container-fluid container p-2">
      <a class="navbar-brand" href="#">Dev Restaurant</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">         
        </ul>
        <form class="d-flex">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item ">
                  <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link pr-2" href="#">About us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Menu</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Recips</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Chef</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Blog</a>
                </li>
                </ul>
          <button class="btn btn-light" type="submit">Reservations</button>
        </form>
      </div>
    </div>
  </nav>