
.nav-bg-secondary{
    background-color:#000;
    -webkit-transition:all 0.6s ease-out!important;
}
 .navbar-brand{
     color: #fff;
     text-decoration: none;
     size: 25;
     text-transform: uppercase;
     
 }
.nav-link{
    color: #fff; 
    margin-right: 25px;
}