<section id="menu">
    <div class="container mb">
    <div class=" menu-headers mt-4">
        <h2>  LET’S DISCOVER FOOD</h2>
        <h2> SPECIAL DISHES TODAY</h2>
    </div>
        <div class="select-menu m-auto">
            <div class="d-flex">
                <div class="flex-item " [ngClass]="{'active':Dinner}">
                    <img src="../../assets/Menu/menu-icons/Group 408.png" alt="">
                    <p>Dinner</p>
                </div>
                <div class="flex-item " [ngClass]="{'active':Lunch}" >
                    <img src="../../assets/Menu/menu-icons/Group 410.png" alt="">
                    <p>Lunch</p>
                </div>
                <div class="flex-item " [ngClass]="{'active':brunch}">
                    <img src="../../assets/Menu/menu-icons/Groupe 401.png" alt="">
                    <p>Brunch</p>
                </div>
                <div class="flex-item " [ngClass]="{'active':Desert}">
                    <img src="../../assets/Menu/menu-icons/Groupe 402.png" alt="">
                    <p>Desert</p>
                </div>
                <div class="flex-item " [ngClass]="{'active':wine} ">
                    <img src="../../assets/Menu/menu-icons/Groupe 403.png" alt="">
                    <p>Wine</p>
                </div>
            </div>
        </div>
    </div>
    <div class='container flex-container d-flex my-4'>
        <div *ngFor = 'let m of menu' >
     <div class="card">
         <img src="../../assets/Menu/{{m.img}}" alt="">
         <h5 class="card-title txt-center">{{m.productName}} </h5>
         <p class="card-text">{{m.productDesc}} </p>
         <button type="button" class="btn btn-outline-dark">Read more</button>
         <div class="price-tag">${{m.productPrice}} </div>
     </div>
    </div>
    
     <button type="button" class="btn btn-dark">View All</button>
    </div>
</section>