<section id="menu">
    <div class="container mb">
    <div class=" menu-headers mt-4">
        <h2>  LET’S DISCOVER FOOD</h2>
        <h2> SPECIAL DISHES TODAY</h2>
    </div>
        <div class="select-menu m-auto">
            <div class="d-flex">
                <div class="flex-item   " [ngClass]="{'active':Dinner}">
                    <img src="../../assets/Menu/menu-icons/Group 408.png" alt="">
                    <p>Dinner</p>
                </div>
                <div class="flex-item " [ngClass]="{'active':Lunch}" >
                    <img src="../../assets/Menu/menu-icons/Group 410.png" alt="">
                    <p>Lunch</p>
                </div>
                <div class="flex-item " [ngClass]="{'active':brunch}">
                    <img src="../../assets/Menu/menu-icons/Groupe 401.png" alt="">
                    <p>Brunch</p>
                </div>
                <div class="flex-item " [ngClass]="{'active':Desert}">
                    <img src="../../assets/Menu/menu-icons/Groupe 402.png" alt="">
                    <p>Desert</p>
                </div>
                <div class="flex-item " [ngClass]="{'active':wine} ">
                    <img src="../../assets/Menu/menu-icons/Groupe 403.png" alt="">
                    <p>Wine</p>
                </div>
            </div>
        </div>
    </div>
    <div class='container flex-container d-flex my-4'>
     <div class="card">
         <img src="../../assets/Menu/joseph-gonzalez-zcUgjyqEwe8-unsplash.png" alt="">
         <h5 class="card-title txt-center">Banana & Blueberry French Toast</h5>
         <p class="card-text">Loren ipsum dolor sit amet, consectetur adipiscing elit fuidhir</p>
         <button type="button" class="btn btn-outline-dark">Read more</button>
         <div class="price-tag">$50 </div>
     </div>
     <div class="card">
         <img src="../../assets/Menu/Hamburger.png" alt="">
         <h5 class="card-title txt-center">CHEESE BURGER </h5>
         <p class="card-text">Loren ipsum dolor sit amet, consectetur adipiscing elit fuidhir</p>
         <button type="button" class="btn btn-outline-dark">Read more</button>
         <div class="price-tag">$39 </div>
     </div>
     <div class="card">
         <img src="../../assets/Menu/pizza.png" alt="">
         <h5 class="card-title txt-center">PIZZA</h5>
         <p class="card-text">Loren ipsum dolor sit amet, consectetur adipiscing elit fuidhir</p>
         <button type="button" class="btn btn-outline-dark">Read more</button>
         <div class="price-tag">$30 </div>
     </div>
     <div class="card">
         <img src="../../assets/Menu/sandwitch.png" alt="">
         <h5 class="card-title txt-center">Sandwich</h5>
         <p class="card-text">Loren ipsum dolor sit amet, consectetur adipiscing elit fuidhir</p>
         <button type="button" class="btn btn-outline-dark">Read more</button>
         <div class="price-tag">$20 </div>
     </div>
     <div class="card">
         <img src="../../assets/Menu/ice-cream.png" alt="">
         <h5 class="card-title txt-center">IceCream</h5>
         <p class="card-text">Loren ipsum dolor sit amet, consectetur adipiscing elit fuidhir</p>
         <button type="button" class="btn btn-outline-dark">Read more</button>
         <div class="price-tag">$35 </div>
     </div>
     <div class="card">
         <img src="../../assets/Menu/hot-dog.png" alt="">
         <h5 class="card-title txt-center">Hot dog</h5>
         <p class="card-text">Loren ipsum dolor sit amet, consectetur adipiscing elit fuidhir</p>
         <button type="button" class="btn btn-outline-dark">Read more</button>
         <div class="price-tag">$59 </div>
     </div>
     <div class="card">
         <img src="../../assets/Menu/cheeseBurger.png" alt="">
         <h5 class="card-title txt-center">CHEESE BURGER </h5>
         <p class="card-text">Loren ipsum dolor sit amet, consectetur adipiscing elit fuidhir</p>
         <button type="button" class="btn btn-outline-dark">Read more</button>
         <div class="price-tag">$49 </div>
     </div>
     <div class="card">
         <img src="../../assets/Menu/salad.png" alt="">
         <h5 class="card-title txt-center">Salad</h5>
         <p class="card-text">Loren ipsum dolor sit amet, consectetur adipiscing elit fuidhir</p>
         <button type="button" class="btn btn-outline-dark">Read more</button>
         <div class="price-tag">$50 </div>
     </div>
     <button type="button" class="btn btn-dark">View All</button>
    </div>
</section>