<section>
    <div class="container">
    <div class=" menu-headers mt-4">
        <h2>  LET’S DISCOVER FOOD</h2>
        <h2> SPECIAL DISHES TODAY</h2>
    </div>
        <div class="select-menu m-auto">
            <div class="d-flex">
                <div class="flex-item active ">
                    <img src="../../assets/Menu/menu-icons/Group 408.png" alt="">
                    <p>Dinner</p>
                </div>
                <div class="flex-item ">
                    <img src="../../assets/Menu/menu-icons/Group 410.png" alt="">
                    <p>Lunch</p>
                </div>
                <div class="flex-item ">
                    <img src="../../assets/Menu/menu-icons/Groupe 401.png" alt="">
                    <p>Brunch</p>
                </div>
                <div class="flex-item ">
                    <img src="../../assets/Menu/menu-icons/Groupe 402.png" alt="">
                    <p>Desert</p>
                </div>
                <div class="flex-item ">
                    <img src="../../assets/Menu/menu-icons/Groupe 403.png" alt="">
                    <p>Wine</p>
                </div>
            </div>
        </div>
    </div>
    <div class='container flex-container d-flex my-4'>
     <div class="card">
         <img src="../../assets/Menu/joseph-gonzalez-zcUgjyqEwe8-unsplash.png" alt="">
         <h5 class="card-title txt-center">Banana & Blueberry French Toast</h5>
         <p class="card-text">Loren ipsum dolor sit amet, consectetur adipiscing elit fuidhir</p>
         <button type="button" class="btn btn-outline-dark">Read more</button>
         <div class="price-tag">$50 </div>
     </div>
     <div class="card">
         <img src="../../assets/Menu/joseph-gonzalez-zcUgjyqEwe8-unsplash.png" alt="">
         <h5 class="card-title txt-center">CHEESE BURGER </h5>
         <p class="card-text">Loren ipsum dolor sit amet, consectetur adipiscing elit fuidhir</p>
         <button type="button" class="btn btn-outline-dark">Read more</button>
         <div class="price-tag">$50 </div>
     </div>
     <div class="card">
         <img src="../../assets/Menu/joseph-gonzalez-zcUgjyqEwe8-unsplash.png" alt="">
         <h5 class="card-title txt-center">PIZZA</h5>
         <p class="card-text">Loren ipsum dolor sit amet, consectetur adipiscing elit fuidhir</p>
         <button type="button" class="btn btn-outline-dark">Read more</button>
         <div class="price-tag">$50 </div>
     </div>
     <div class="card">
         <img src="../../assets/Menu/joseph-gonzalez-zcUgjyqEwe8-unsplash.png" alt="">
         <h5 class="card-title txt-center">Banana & Blueberry French Toast</h5>
         <p class="card-text">Loren ipsum dolor sit amet, consectetur adipiscing elit fuidhir</p>
         <button type="button" class="btn btn-outline-dark">Read more</button>
         <div class="price-tag">$50 </div>
     </div>
     <div class="card">
         <img src="../../assets/Menu/joseph-gonzalez-zcUgjyqEwe8-unsplash.png" alt="">
         <h5 class="card-title txt-center">Banana & Blueberry French Toast</h5>
         <p class="card-text">Loren ipsum dolor sit amet, consectetur adipiscing elit fuidhir</p>
         <button type="button" class="btn btn-outline-dark">Read more</button>
         <div class="price-tag">$50 </div>
     </div>
     <div class="card">
         <img src="../../assets/Menu/joseph-gonzalez-zcUgjyqEwe8-unsplash.png" alt="">
         <h5 class="card-title txt-center">Banana & Blueberry French Toast</h5>
         <p class="card-text">Loren ipsum dolor sit amet, consectetur adipiscing elit fuidhir</p>
         <button type="button" class="btn btn-outline-dark">Read more</button>
         <div class="price-tag">$50 </div>
     </div>
     <div class="card">
         <img src="../../assets/Menu/joseph-gonzalez-zcUgjyqEwe8-unsplash.png" alt="">
         <h5 class="card-title txt-center">Banana & Blueberry French Toast</h5>
         <p class="card-text">Loren ipsum dolor sit amet, consectetur adipiscing elit fuidhir</p>
         <button type="button" class="btn btn-outline-dark">Read more</button>
         <div class="price-tag">$50 </div>
     </div>
     <div class="card">
         <img src="../../assets/Menu/joseph-gonzalez-zcUgjyqEwe8-unsplash.png" alt="">
         <h5 class="card-title txt-center">Banana & Blueberry French Toast</h5>
         <p class="card-text">Loren ipsum dolor sit amet, consectetur adipiscing elit fuidhir</p>
         <button type="button" class="btn btn-outline-dark">Read more</button>
         <div class="price-tag">$50 </div>
     </div>
    
    </div>
</section>