/* You can add global styles to this file, and also import other style files */
.txt-justify{
 text-align: justify;
}

p{
    font-size: 16px;
}

/* instagram */
.flex-container{
    
    flex-wrap: wrap;
    align-self: center;
    justify-content: center;
  }





.flex-item-abc{
margin: 0 0 10px 10px;
}

.flex-item-abc img{

width: 90px;
}
