.bg-cover{
   height: 855px;
  background-size: contain;
  background-repeat:no-repeat;
   background-image: url(C:\Users\houss\Test\DevResturent\src\assets\Bg-home.png);
}
.home-style{
position: absolute;
    top: 160px;
    left: 107px;
    color: white;
}


.size{
text-transform: uppercase;
font-size: 80px;
margin-top: 36px;
}

.size-a{
   font-size: 45px;
}